[submodule "src/oracle_server/augmented_memory"]
	path = src/oracle_server/augmented_memory
	url = https://github.com/schwallergroup/augmented_memory.git
[submodule "saturn/saturn"]
	path = saturn/saturn
	url = https://github.com/schwallergroup/saturn.git
